body {
  font-family: "Pacifico", cursive; /* Use the font name 'Pacifico' */
  /* ... (other styles for the body) */
  background-color: #0f5fff46;
  margin: 0%;
  padding: 0%;
  width: 100%;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 16px;
}

header {
  background-color: hsla(0, 83%, 9%, 0.264);
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0%;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eb151514;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#lyrics-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#search-button {
  background-color: hsl(213, 53%, 3%);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-family: "Pacifico", cursive; /* Use the font name 'Pacifico' */
  /* ... (other styles for the body) */
}

#search-button:hover {
  background-color: #0056b3;
}

.displayNone {
  display: none;
}

.websiteInstructions {
  float: left;
  width: 20%;
  margin: 10px 10px 10px 35px;
}

.lyricDisplay {
  float: right;
  width: 20%;
  margin: 10px 35px 10px 10px;
}

.text {
  margin: 10px 0px 0px 0px;
}

.musixMatchBtns {
  display: flex;
  margin: 5px;
}

.spotifyUserButtons {
}

.spotifyArtistPlaylist {
  margin-top: 20px;
  margin-bottom: 15px;
}

.spotifyAlbumButtons {
  margin: 5px;
}

#activate-website {
  margin-left: 25%;
}
