body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: navajowhite
}

#searchInput {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}
